
/* Global Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	color: #9c6d07;
	background: radial-gradient(circle at 80% 40%, #0a192f 0%, #725e32 80%);
	min-height: 100vh;
}
a {
	transition: color 0.3s, background 0.3s;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
